{# src/Annonces/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "@AnnoncesPlatform/layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block annonces_body %}
	{# On vérifie qu'une image soit bien associée à l'annonce #}
	<p>
		{% if advert.image is not null %}
			<img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}" width="50">
		{% endif %}

		<h2>{{ advert.titre }}</h2>
		<i>Par {{ advert.auteur }}, le {{ advert.date|date('d/m/Y') }}</i>
	</p>
	<div class="well">
		{{ advert.contenu }}
	</div>
	
	<b>Cette annonce est parue dans les catégories suivantes :</b>
	{% if not advert.categories.empty %}
		<p>
			{% for categorie in advert.categories %}
			  {{ categorie.nom }} 
			  {% if not loop.last %},{% endif %}
			{% endfor %}
		</p>
	{% endif %}
	
	
	{% if listAdvertCompetences|length >0 %}
		<div>
			<ul>
			<b>Cette annonce requiert les compétences suivantes :</b>
				{% for listAdvertCompetence in listAdvertCompetences %}
					<li> {{ listAdvertCompetence.competence.nom }} - Niveau : {{ listAdvertCompetence.niveau }}</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	
	<p>
		<a href="{{ path('annonces_accueil') }}" class="btn btn-default">
			<i class="glyphicon glyphicon-chevron-left"></i>
			Retour à la liste
		</a>
		<a href="{{ path('annonces_modifier', {'id': advert.id}) }}" class="btn btn-default">
			<i class="glyphicon glyphicon-edit"></i>
			Modifier l'annonce
		</a>
		<a href="{{ path('annonces_supprimer', {'id': advert.id}) }}" class="btn btn-danger">
			<i class="glyphicon glyphicon-trash"></i>
			Supprimer l'annonce
		</a>
	</p>
	
	<h4>Liste des candidatures</h4>
	{% for listCandidature in listCandidatures %}
		{{ loop.index }} : <a href="{{ path('annonces_view_candidature', {'id': listCandidature.id}) }}"> {{ listCandidature.auteur }} - {{ listCandidature.contenu }}</a>
		<br>
	{% endfor %}
	
{% endblock %}