{# src/Annonces/CoreBundle/Resources/views/Core/index.html.twig #}

{% extends "@AnnoncesPlatform/layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block annonces_body %}
    <div>
	  {% for message in app.session.flashbag.get('info') %}
		<p> Message flash : {{ message }} </p>
      {% endfor %}
    </div>
   
  <h2>Liste des annonces</h2>
  
  <ul>
    {% for advert in listAdverts %}
        </a>
			<li>
				<a href="{{ path('annonces_view', {'id': advert.id}) }}">{{ advert.titre }} </a> 
				 postée par : <u>{{ advert.auteur }}</u>, le {{ advert.date | date('d/m/Y') }} 
			</li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
	<br>
  </ul>

{% endblock %}